/* Change navbar bg */
.headerBg {
    background-color: #2b3543;
    border-bottom: 2px solid #ffffff;
    padding: 0.8rem;
}

/* Styling nav links */
.navLinks {
    margin-right: 6rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navLinks:hover {
    color: #4e99fe;

}

/* margin-auto */
.marginAuto {
    margin: 0 auto;
}



.displayBlock {
    display: block;
}

.navLinksDark {
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(3, 0, 0);
    display: block;
}

.navLinksDark:hover {
    color: rgb(40, 0, 218);
}

/* Style nav links on small screen */
.menuItemsFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 10rem;
}

.menuItemsFlex > a {
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    margin: 0 0 5px 0;
    text-align: center;
}

.menuItemsFlex > a:hover {
    background-color: #3060a3;
    color: #cee2fc;
}


/* Social media icons */

/* Alligns the social media icons */
.linkAlign {
    display: flex;
    align-items: center;
}

.socialIcons {
    font-size: 2rem;
    color: #cee2fc;
    padding: 0.3rem;
}

.socialIcons:hover {
    color: #4e99fe;
}


/* Main flex */

.mainFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* padding: 2rem; */
    background-color: #2b3543;
    align-items: center;
    margin: 0 auto;
}

.mainFlex > h2 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
}

/* logo SIZE */

.imageSize {
    height: 70px;
    width: 125px;
}

/* About me section - top */

.aboutMe {
    width: 100vw;
    height: calc(100vh - 12rem);
    padding: 1rem;
    background-color: #cee2fc;
}

.listItem1 {
    /* background-color: green; */
    border-right: 1px solid rgb(163, 152, 91);
}

.listItem2 {
    /* background-color: blue; */
}